.lightbox-background {
  opacity: 0.9;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: hsla(0, 0, 0, 0.90);
  z-index: 5000;
}
.page {
  .feedback-panel {
    position: fixed;
    z-index: 5001;
    top: 100px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: white;
    padding: 2rem;
    opacity: 1;
    display: flex;
    flex-direction: column;

    .feedback-header {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
    .feedback-options {
      background: #eee;
      font-size: .8em;
      padding: 10px 15px;
      align-self: flex-end;
      h3 {
        color: #3f3f3f;
        font-size: 1em;
        margin-bottom: .25em;
      }
    }

    .feedback-filters {
      background: #666;
      color: #fff;
      font-size: .8em;
      padding: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      input, select {
        margin-left: 10px;
      }
    }

    .feedback-rows-wrapper {
      overflow: auto;
      border: solid 1px #777;
      border-top: none;
      height: 400px;
    }

    .feedback-for-students {
      height: auto;
      width: 100%;
      .answer-enter {
        opacity: 0.01;
        max-height: 0px;
      }

      .answer-enter.answer-enter-active {
        opacity: 1;
        max-height: 600px;
        transition: 400ms ease;
      }

      .answer-leave {
        opacity: 1;
        max-height: 600px;
      }

      .answer-leave.answer-leave-active {
        opacity: 0.1;
        max-height: 0px;
        transition: 400ms ease;
      }
    }

    .feedback-row {
      background: #f6f6f6;
      width: 100%;
      font-size: .9em;
      overflow: hidden;
      padding: 10px 15px;
      display: flex;
      flex-direction: row;
      &:nth-child(even) {
        background: #f0f0f0;
      }
    }

    .student-answer {
      width: 48%;
    }

    .feedback-interface {
      width: 50%;
    }
    .feedback-content {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      font-size: 11pt;
      input, textarea { font-family: inherit; font-size: inherit;}
      input { margin: 0.2em }
      div {
        margin-right: 1em;
        margin-top: 0.5em;
      }
      .score {
        input { width: 3em; text-align: right;}
      }
    }

    .max-score-input {
      width: 35px;
    }

    .feedback-complete {
      float: left;
      font-size: .9em;
      width: 50%;
    }

    .feedback .score {
      float: right;
      font-size: .9em;
      text-align: right;
      width: 50%;
    }

    .cc-button {
      float: right;
      margin: .75em 25px .75em 0;
      border: none;
      color: #fff !important;
      cursor: pointer;
      display: block;
      font-family: lato, arial, helvetica, sans-serif;
      font-size: .9em;
      font-weight: normal;
      padding: .3125em .625em;
      text-align: center;
      text-decoration: none;
      border-radius: .1875em;
      box-shadow: 0 3px 0 #e16a3e;
    }

    a.cc-button {
      align-self: flex-end;
      margin-right: 0px;
    }

    h1 {
      font-size: .9em;
      margin-bottom: 0;
    }

    h2 {
      color: #da5936;
      float: left;
      font-size: 1.35em;
      font-weight: normal;
      width: 80%;
    }

    h3 {
      color: #3a878b;
      font-size: 1rem;
      font-weight: bold;
      margin: 1rem 0px;
      text-transform: capitalize;
    }

    h4 {
      color: #777;
      font-weight: bold;
      margin: 1rem 0px;
      padding: 0px;
    }

    label {
      display: inline-block;
      margin-left: 0.5em;
      max-width: inherit;
      margin-bottom: inherit;
      font-weight: inherit;
      &.max-score {
        margin-left: 1.5em;
        margin-right: 0.5em;
      }
    }

    textarea {
      border: solid 1px #ccc;
      font: .9em verdana, helvetica, sans-serif;
      margin-bottom: .25em;
      padding: 1%;
      width: 95%;
      height: 5em;
    }
  }
}
