.image-question-details {
  width: 100%;

  // Customize carousel:
  .carousel {
    li {
      cursor: default;
    }

    .control-arrow {
      color: #333;
    }

    .slide {
      background: #f3f3f3;

      img {
        width: 300px;
        margin: 0 auto;
        display: block;
      }

      .legend {
        bottom: 0;
        margin-left: 0;
        width: 100%;
        border-radius: 0;
        color: white;
        background: rgba(80, 80, 80, 0.75);
      }
    }

    .thumb.selected, .thumb:hover {
      border: 2px solid #666;
      padding: 1px;
    }

    .carousel-status {
      color: #333;
      text-shadow: none;
    }
  }
}