@import "variables";

.report {
  width: @report-width;
  min-width: @min-report-width;
  background: #fff;
  height: auto;
  min-height: 100%;
  margin: 0 auto;

  .report-header {
    margin-top: 1em;
    margin-bottom: 1em;

    .controls {
      display: inline-block;
      float: right;
      @media print {
        display: none;
      }

      a, select {
        margin: 0 0.5em;
      }

      select {
        display: inline-block;
        width: auto;
      }
    }
  }

  .report-content {
    margin-bottom: 4em;
    @media print {
      margin-bottom: 2em;
      page-break-after: always;
    }

    h1 {
      margin-bottom: .5em;
      text-transform: uppercase;
      color: #777;
      font-size: 1em;
      font-weight: normal;
      @media print {
        color: #000;
        font-size: 1.5em;
        font-weight: bold;
      }
    }
    &.hidden {
      display: none;
    }
  }
}
