.rubric-box {
  padding-bottom: 1em;
  table {
    border-collapse: collapse;
    th {
      padding: 0.5em;
      border: 1px solid black;
    }
    td {
      padding: 0.5em;
      border: 1px solid black;
      .center {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
