.summary-indicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0.2em;
  box-sizing: border-box;
  border-collapse: collapse;
  .avg-score {
    font-size: 10pt;
    padding: 1em;
  }
}
