@import "../variables";

.tableHeader {
  display: flex;

  .responsePanel {
    flex: 1;
    margin-right: 3px;
    min-width: 389px;
    width: 100%;
    background-color: @cc-orange-light6;

    .contentNavigatorArea {
      min-height: 250px;

      &.short {
        min-height: 200px;
      }
    }
  }
  .questionArea {
    background-color: @cc-teal-light6;
    flex: 1;
    margin-right: 3px;
  }
  .feedbackInfo {
    background-color: @feedback-green-light5;
    flex: 1;
  }
}

.feedbackRowsContainer {
  flex: 1;
  overflow: auto;
}
