@import "../variables";

.tableHeader {
  display: flex;

  .responsePanel {
    width: 100%;
    background-color: @cc-orange-light6;

    .contentNavigatorArea {
      min-height: 250px;

      &.short {
        min-height: 200px;
      }
    }
  }
}
