.feedbackBadgeLegend {
  margin: 20px;

  .feedbackBadgeLegend__heading_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    .feedbackBadgeLegend__heading {
      font-size: 16px;
    }
  }

  .feedbackBadgeLegend__list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    max-width: 349px;
    overflow: visible;
    width: 100%;

    dd, dt {
      flex: 0 0 28px;
      font-weight: normal;
      line-height: 1;
      margin-bottom: 5px;
      overflow: hidden;
    }
    dd {
      flex: 1 1 321px;
    }
  }

  .feedbackBadgeLegend__rubric {
    margin-top: 10px;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .feedbackBadgeLegend__rubric_settings {
      display: flex;
      flex-wrap: nowrap;
    }

    .feedbackBadgeLegend__rubric_score {
      display: flex;
      flex-direction: column;
      justify-content: end;
      gap: 10px;

      .feedbackBadgeLegend__rubric_score_avg {
        display: flex;
        flex-wrap: nowrap;
        justify-content: end;

        .feedbackBadgeLegend__rubric_score_avg_value {
          margin-left: 5px;
        }
      }

      .feedbackBadgeLegend__rubric_summary {
        display: flex;
        gap: 7px;
        flex-wrap: nowrap;
        justify-content: end;
        align-items: center;
      }
    }
  }
}
