@import "../variables";

.lightbox {
  background-color: white;
  border-radius: 8px !important;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
  height: auto;
  left: 405px;
  top: 135px;
  width: 320px;

  .lightboxHeader {
    border-radius: 8px 8px 0 0;
    overflow: auto;
    padding: 0;

    .title {
      color: @feedback-green;
      font-weight: bold;
      height: 24px;
      line-height: 1.4;
      margin: 20px 20px 15px;
      padding-left: 29px;
      position: relative;
      text-align: left;

      &:before {
        background-color: @feedback-green;
        content: "";
        display: block;
        height: 24px;
        left: 0;
        -webkit-mask-image: url("../../../img/svg-icons/score-settings-icon.svg");
        mask-image: url("../../../img/svg-icons/score-settings-icon.svg");
        position: absolute;
        top: 0;
        width: 24px;
      }
    }
  }

  .lightboxBody {
    padding: 0 0 40px;
    position: relative;

    .contentArea {
      padding: 0 20px 20px;

      p {
        margin-bottom: 10px;
      }
    }
    .closeButton {
      background-color:white;
      border: solid 1.5px @cc-charcoal-light1;
      border-radius: 4px;
      bottom: 20px;
      color: @cc-charcoal;
      cursor: pointer;
      font-weight: bold;
      margin: 0;
      padding: 5px 10px 6px;
      position: absolute;
      right: 20px;
      text-align: center;

      &:hover {
        background: @feedback-green-light4;
      }
      &:active {
        background: @feedback-green;
        border-color: @feedback-green;
        color: white;
      }
    }
  }
}
