@import "./helpers";

.activityQuestions {
  transition: @width-transition;
  vertical-align: top;

  .content {
    display: flex;
    height: 100%;

    .questionPrompt {
      .cell();
      .nowrap();
      flex: 1;
      background: @main-light;
      color: #fff;

      &.fullPrompt {
        white-space: normal;
        overflow-y: auto;
      }
    }
  }
}
