@import "./helpers";

.activityQuestions {
  transition: @width-transition;
  vertical-align: top;

  .content {
    display: flex;
    height: 100%;

    .questionPrompt {
      transition: @width-transition;
      .cell();
      .nowrap();
      background: @main-light;
      color: #fff;
      flex: 1;
      min-width: 50px;
      .clickable();
      &.fullPrompt {
        white-space: normal;
        overflow-y: auto;
        flex: 100;
      }
      &.multChoiceSummary {
        background: @main-light;
        .multChoiceSummary();
        cursor: default;
      }
      &.blankCell {
        flex-grow: 1;
      }
    }
  }
}
