@import "./helpers";

.activityAnswers {
  display: flex;
  vertical-align: top;
  transition: @width-transition;

  .answer {
    .cell();
    white-space: normal;
    overflow-y: auto;
    overflow-x: hidden;
    transition: @flex-transition;
    flex: 1;
    &.fullAnswer {
      transition: @flex-transition;
      flex: 100;
    }
  }

  .multChoiceSummary {
    .multChoiceSummary();
  }
}
