@import "./helpers";

.activityAnswers {
  display: flex;
  vertical-align: top;
  transition: @width-transition;

  .answer {
    .cell();
    transition: @width-transition;
    white-space: normal;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    min-width: 50px;
    &.fullAnswer {
      flex: 100;
    }
  }

  .multChoiceSummary {
    .multChoiceSummary();
  }
}
