// General table styles
@student-name-width: 150px;
@border-width: 1px;
@cell-border: @border-width solid #777;
@row-height: 40px;
@row-padding: 5px;
@row-outer-height: @row-height + 2 * @row-padding + 2 * @border-width;
@expanded-student-row-height: 250px;
@expanded-question-prompt-max-height: 100px;

// Transitions
@transition-time: 1s;
@width-transition: min-width @transition-time, width @transition-time;
@height-transition: height @transition-time, max-height @transition-time;

// Mixins
.cell {
  min-height: @row-height;
  line-height: @row-height;
  padding: @row-padding;
  border: @cell-border;
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
