.modal {
  // background-color: aqua;
  background-color: '#6fc6da';
}
.question {
  font-family: 'museo-sans', helvitica, sans-serif;
  overflow: auto;
  padding: 1em;
  margin: 1em;
  p {
    margin: 1em;
  }
}