.audio-response {
  audio {
    display: none;
  }
  button {
    align-items: center;
    color: #2ba5c1;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 5px;
    padding: 0;
    text-decoration: underline;
    transition: .2s;

    &:hover {
      color: #ffc320;

      .audioIcon {
        fill: #ffc320;
      }
    }
    &.active {
      animation: isActive .7s infinite;
      color: #da5936;

      .audioIcon {
        fill: #da5936;
      }
    }
    &:active {
      color: #0481a0;

      .audioIcon {
        fill: #0481a0;
      }
    }
    .audioIcon {
      fill: #2ba5c1;
      height: 22px;
      margin: 0 4px;
      transition: .2s;
      width: 22px;
    }
    .audio-loading {
      color: #ff9200;
      fill: #ff9200;
      height: 22px;
      margin: 0 4px;
      width: 22px;
  
      path:nth-of-type(1) {
        animation: loading 1s linear infinite;
        animation-delay: -0.5s;
      }
      path:nth-of-type(2) {
        animation: loading 1s linear infinite;
        animation-delay: -0.4166666666666667s;
      }
      path:nth-of-type(3) {
        animation: loading 1s linear infinite;
        animation-delay: -0.33333333333333337s;
      }
      path:nth-of-type(4) {
        animation: loading 1s linear infinite;
        animation-delay: -0.25s;
      }
      path:nth-of-type(5) {
        animation: loading 1s linear infinite;
        animation-delay: -0.16666666666666669s;
      }
      path:nth-of-type(6) {
        animation: loading 1s linear infinite;
        animation-delay: -0.08333333333333331s;
      }
      path:nth-of-type(7) {
        animation: loading 1s linear infinite;
        animation-delay: 0s;
      }
      path:nth-of-type(8) {
        animation: loading 1s linear infinite;
        animation-delay: 0.08333333333333337s;
      }
      path:nth-of-type(9) {
        animation: loading 1s linear infinite;
        animation-delay: 0.16666666666666663s;
      }
      path:nth-of-type(10) {
        animation: loading 1s linear infinite;
        animation-delay: 0.25s;
      }
      path:nth-of-type(11) {
        animation: loading 1s linear infinite;
        animation-delay: 0.33333333333333337s;
      }
      path:nth-of-type(12) {
        animation: loading 1s linear infinite;
        animation-delay: 0.41666666666666663s;
      }
    }
  }
  .noWrittenResponse {
    align-items: center;
    display: flex;

    .noResponseIcon {
      fill: #979797;
    }
  }
}

@keyframes isActive {
  0% { opacity: 1; }
  50% { opacity: .6 }
  100% { opacity: 1; }
}

@keyframes loading {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}