.rubric-box-for-student {
  width: 100%;
  border-collapse: collapse;
  color: #777;

  table, th, td {
    border: 1px solid #333;
  }

  th, td {
    padding: 5px;
  }

  th {
    font-weight: bold;
    color: #888;
  }

  td {
    vertical-align: top;

    div {
      display: flex;
      align-items: center;
      gap: 5px;

      li {
        margin-left: 20px;
        list-style-type: disc;
      }
    }

    p {
      padding: 5px;
    }

    ul, ol {
      padding-left: 2em;
    }
  }

  td.groupLabel {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
  }
}

