@import "./variables";

.answer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  margin: 0 10px 0 10px;
  background-color: @cc-orange-light5;

  .icon {
    width: 24px;
    height: 24px;
  }

  &.noAnswer {
    background-color: white;
  }
}


