@import "./variables";

.classNav {
  position: relative;
  flex-shrink: 0;
  height: @top-nav-height;
  width: 240px;
  background-color: @cc-teal-light6;
  z-index: 1;

  .chooseClass {
    margin: 20px 0 15px 19px;
    width: 200px;
    height: 30px;
  }

  .studentSort {
    margin-left: 19px;
    width: 200px;
    height: 30px;
  }
}
