@import "./variables";

.numStudentsContainer {
    width: 168px;
    height: 30px;
    border-radius: 15px 0px 0px 15px;
    background-color: @cc-teal-light7;
    position: absolute;
    top: 150px;
    left: 72px;
    color: @cc-charcoal;
}
.containerLabel {
    font-weight: bold;
    padding-left: 20px;
}
.numStudentsContainer span {
    position: relative;
    line-height: 30px;
}
