@import "./variables";

.numStudentsContainer {
    width: 168px;
    height: 30px;
    border-radius: 15px 0px 0px 15px;
    background-color: @cc-teal-light7;
    position: absolute;
    top: 210px;
    left: 72px;
    font-size: 16px;
    font-family: lato, arial, helvetica, sans-serif;
    letter-spacing: 0;
    color: @cc-charcoal;
}
.containerLabel {
    font-weight: bold;
    padding-left:20px;
}
.numStudentsContainer span {
    position: relative;
    top: 6px;
}