@import "./variables";

.portalDashboardApp {
  height: 100%;
  color: black;
  font-family: lato, arial, helvetica, sans-serif;

  .navigation {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .progressTable {
    display: flex;
    flex-direction: row;
    height: calc(100vh - @top-nav-height - @header-height - @top-margin);
    width: 100%;
    overflow: auto;
    background-color: white;
  }
}
