iframe {

  &.singleAnswerReportItemIframe {
    border: none;
    height: 300px;
  }

  &.multipleAnswerReportItemIframe {
    border: none;
    margin-top: 0.5em;
    width: 100%;
    height: 100px;
  }

}