@import "./variables";

.studentList {
  display: inline-block;
  width: 240px;
  position: sticky;
  left: 0;

  .studentName {
    display: flex;
    align-items: center;
    height: 44px;
    width: 240px;
    background-color: white;
    cursor: pointer;

    &.compact {
      height: 32px;
    }
    &:hover {
      background-color: @cc-teal-light4;
    }
    &:active {
      background-color: @cc-teal;
    }

    .name {
      margin: 0 20px 0 20px;
      width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        text-decoration: underline;
      }
      &:active {
        color: white;
      }
    }
  }

  .studentName:nth-child(even) {
    background-color: @cc-teal-light6;
    
    &:hover {
      background-color: @cc-teal-light4;
    }
    &:active {
      background-color: @cc-teal;
    }
  }
}
