@import "./variables";

.popup {
    width: 1024px;
    height: 1024px;
}
.popupHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: @header-height;
    margin-bottom: 3px;
    background-color: @cc-teal;
}
.leftColumn {
    width: 240px;
    height: 214px;
    background-color: @cc-teal-light4;
}
.middleColumn {
    width: 390px;
    height: 214px;
    background-color: @cc-teal-light4;
}
.rightColumn {
    width: 389px;
    height: 214px;
    background-color: @feedback-green-light4;
}