@import "../variables";

.studentRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 45px;
  background-color: white;

  .student {
    display: flex;
    align-items: center;
    height: 45px;
    width: 240px;

    .name {
      margin: 0 0 0 20px;
    }

  }

  .responses {
    flex-grow: 1;
    border-style: solid none none none;
    border-width: 1px;
    border-color: #DEDEDE;
  }

}
.studentRow:nth-child(even) .student {
  background-color: @nav-color;
}
.studentRow:last-child .responses {
  border-bottom-style: solid;
}