@import "./variables";

.popup {
    top: @header-height;
    bottom: 100%;
    right: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.35);
    background-color: #ffffff;
    transition: all 0.5s ease;
    width: 100%;
    height: 0;

    &.open {
        height: 100%;
    }

    .popupHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        height: @header-height;
        margin-bottom: 3px;
        background-color: @cc-teal;
        color: white;
    }
    .studentListColumn {
        width: 240px;
        height: 214px;
        background-color: @cc-teal-light4;
    }
    .responseColumn {
        width: 390px;
        height: 214px;
        background-color: @cc-teal-light4;
    }
    .feedbackColumn {
        width: 0;
        height: 214px;
        background-color: @feedback-green-light4;

        &.show {
           width:389px; 
        }
    }
    .icon {
        width: 20px;
        height: 20px;
        object-fit: contain;
        fill: white;
        margin: 0 5px 0 5px;
    }
    .headerLeft {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-left: 20px;

        .assignmentIcon {
            display: flex;
            justify-content: center;
            align-self: flex-start;
            position: relative;
            top: -3px
        }
        .title {
            flex: 1;
            width: 200px;
            font-weight: bold;
        }
    }
    .toggleResponsesFeedback {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: center;
        margin: 0 10px 0 10px;

        .responseToggle {
            order: 1;
            border: 1.5px solid white;
            border-radius: 15px 0 0 15px;
            justify-content: flex-start;
            margin-right: 5px;
        }
        .feedbackToggle {
            order: 2;
            border: 1.5px solid white;
            border-radius: 0 15px 15px 0 ;
            justify-content: flex-end;
            fill: @feedback-green;
            background-color: @feedback-green-light4;
            display: 0;

            // &:active {
            //     fill: white
            // }
        }
    }
    .headerRight {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
        justify-content: flex-end;
        margin: 0 10px 0 10px;

        .closeIcon {
            width: 32px;
            height: 32px;
            object-fit: contain; 
        }
    }
}  