@import "./variables";

.studentAnswers {
  background-color: white;
  width: calc(100% - @left-panel-width);
  white-space: nowrap;
  height: fit-content;

  .studentAnswersRow {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 44px;
    width: 100%;
    min-width: fit-content;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: @cc-charcoal-light2;
    background-color: white;
    padding: 0 0 0 10px;

    &.compact {
      height: 32px;
    }

    .activityAnswers {
      display: flex;
      flex-direction: row;
      flex-shrink: 0;
      align-items: center;

      .activityPage {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        border-style: solid;
        border-width: 0 1px 0 0;
        border-color: @cc-teal-light2;
      }

      .scoreHolder {
        height: 100%;
        border-style: solid;
        border-width: 0 2px 0 0;
        border-color: @cc-teal-light2;

        .score {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 100%;
          margin: 0 10px 0 10px;
          color: @cc-charcoal;
          opacity: .5;

          &.perfect {
            background-color: @score-green-light;
            opacity: 1;
          }
        }
      }

    }

    .activityProgress {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-shrink: 0;
      width: 120px;
      margin: 0 10px 0 10px;
      font-size: 14px;

      &.progress {
        background-color: @cc-orange-light5
      }

      .progressIcon {
        margin: 0 5px 0 52px;
        box-sizing: border-box;
        border: 1px solid @cc-orange;
        height: 20px;
        width: 20px;
        border-radius: 20%;
      }
      .completed {
        background-color: @cc-orange;
        border-radius: 50%;
      }
      .inProgress {
        background-color: @cc-orange-light3;
        border-radius: 50% 20% 20% 50%;
      }
      .notYetStarted {
        background-color: white;
        border-radius: 20%;
      }

      .numAnswered {
        font-size: 16px;
      }

    }
  }

  .studentAnswersRow:first-child {
    border-width: 1px 0 1px 0;
  }

}
